@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
body {
  background-color: #fff9e4; }
  body header #navbarNav {
    justify-content: end; }
  body header .nav-item {
    font-family: "Cinzel", serif; }
  body header .navbar-brand {
    color: #002064;
    font-family: "Cinzel", serif;
    font-weight: bold; }
    body header .navbar-brand:hover {
      text-decoration: none; }
  body header li a {
    justify-content: end;
    text-decoration: none;
    color: #002064;
    font-size: 1.8rem;
    transition: transform .2s; }
    body header li a:hover {
      border-bottom: #002064 5px solid;
      color: #002064;
      transform: scale(1.05); }
  body .hero {
    background: url(../img/hero/HeroImage.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 110vh;
    /*search*/ }
    body .hero .containerbusqueda {
      padding-top: 35vh; }
    body .hero .search {
      position: relative;
      box-shadow: 0 0 40px rgba(51, 51, 51, 0.1); }
      body .hero .search input {
        font-family: "Raleway", sans-serif;
        font-size: 20px; }
    body .hero .search input {
      height: 60px;
      text-indent: 25px; }
      body .hero .search input:focus {
        border: 0; }
    body .hero .search button {
      font-size: 1.6rem;
      position: absolute;
      top: 5px;
      right: 5px;
      height: 52px;
      width: 130px;
      background: #304b86;
      color: rgba(255, 255, 255, 0.904); }
    body .hero .btn {
      font-family: "Cinzel", serif;
      color: rgba(255, 255, 255, 0.904);
      background-color: #304b86;
      font-size: 1.2rem;
      border: 0; }
      body .hero .btn:hover {
        text-decoration: underline;
        color: #fff9e4; }
  body .cards {
    background-color: #fff9e4;
    height: 100%; }
    body .cards h2 {
      font-family: "Cinzel", serif;
      font-size: 3rem;
      color: #002064;
      font-weight: bold;
      margin: 40px 0;
      width: auto; }
    body .cards .card {
      border-radius: 20px;
      background-color: #fff;
      margin: 60px;
      padding: 0;
      transition: transform .2s; }
      body .cards .card:hover {
        transform: scale(1.05); }
      body .cards .card img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 15em;
        width: 100%; }
      body .cards .card .card-title {
        font-family: "Cinzel", serif;
        font-size: 1.4rem; }
      body .cards .card li {
        font-family: "Playfair Display", serif;
        font-size: 1.3rem;
        line-height: 25px; }
      body .cards .card .btn {
        background-color: #304b86;
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        border: 0;
        padding: 0.7em;
        letter-spacing: 1px;
        border-radius: 15px;
        transition: transform .22s; }
        body .cards .card .btn:hover {
          transform: scale(1.05); }
  body .contactindex {
    background: #001238;
    background: linear-gradient(0deg, #001238 40%, #002064 100%);
    height: 100%; }
    body .contactindex h2 {
      color: #fff;
      font-family: "Cinzel", serif;
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 1.4em; }
    body .contactindex p {
      font-family: "Cinzel", serif;
      font-size: 1.8em; }
    body .contactindex form input {
      width: 100%; }
    body .contactindex label {
      letter-spacing: 1px;
      font-family: "Cinzel", serif;
      font-size: 1.4rem;
      font-weight: bold; }
    body .contactindex .btn {
      background-color: #fff9e4;
      color: #304b86;
      font-family: "Cinzel", serif;
      font-weight: bold;
      border-radius: 2px;
      padding: 1rem; }
  body .footer {
    font-family: "Cinzel", serif;
    background-color: #001238;
    height: 100%; }
    body .footer h3 {
      font-size: 2rem;
      margin-top: 2em; }
    body .footer h4 {
      margin-top: 2rem; }
    body .footer ul, body .footer a {
      font-size: 1.5rem;
      text-decoration: underline;
      color: #fff;
      text-decoration: none;
      list-style-type: none;
      margin-top: 2rem; }
      body .footer ul a:hover, body .footer a a:hover {
        text-decoration: underline; }

.propiedades_cards {
  background: #001238;
  background: linear-gradient(0deg, #001238 13%, #00226b 53%, #002472 100%);
  height: 100%;
  padding: 0; }
  .propiedades_cards .bg-image {
    background-image: url(../img/Hero/HeroPropiedades.jpg);
    background-color: rgba(0, 34, 145, 0.267);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    height: 100%;
    padding-bottom: 2em; }
  .propiedades_cards .filtro_busqueda .btn {
    background-color: #f0e9cf;
    color: #002064;
    padding: .5em 3em;
    font-family: "Cinzel", serif;
    transition: transform .2s; }
    .propiedades_cards .filtro_busqueda .btn:hover {
      transform: scale(1.05); }
  .propiedades_cards h2 {
    font-family: "Cinzel", serif;
    font-size: 3rem;
    color: #002064;
    font-weight: bold;
    padding: 40px 0;
    width: auto; }
  .propiedades_cards .card {
    transition: transform .2s;
    border-radius: 20px;
    background-color: #f7f2e5;
    margin: 50px;
    padding: 0; }
    .propiedades_cards .card:hover {
      transform: scale(1.05); }
    .propiedades_cards .card img {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      height: 15em;
      width: 100%; }
    .propiedades_cards .card .card-title {
      font-family: "Cinzel", serif;
      font-size: 1.4rem; }
    .propiedades_cards .card li {
      background-color: #f7f2e5;
      font-family: "Playfair Display", serif;
      font-size: 1.3rem;
      line-height: 25px; }
    .propiedades_cards .card .btn {
      background-color: #304b86;
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      border: 0;
      padding: 0.7em;
      letter-spacing: 1px;
      border-radius: 15px;
      transition: transform .22s; }
      .propiedades_cards .card .btn:hover {
        transform: scale(1.05); }

.tasaciones {
  background: #001238;
  background: linear-gradient(0deg, #001238 13%, #001a52 53%, #002472 100%); }

h2 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  font-weight: bold;
  padding-top: .75em;
  width: auto; }

.sec1 p {
  font-family: "Raleway", sans-serif; }

.sec1 h3 {
  font-family: "Cinzel", serif; }

.sec2 h3 {
  font-family: "Cinzel", serif;
  margin-bottom: 0;
  text-decoration: underline; }

.sec2 .btn-group {
  font-family: "Cinzel", serif;
  align-items: center; }
  .sec2 .btn-group a {
    background-color: #fff9e4;
    color: #002064;
    border-radius: 0px;
    border: 0.5px #002064 solid;
    margin: 5px; }

.sec2 .dropdown {
  font-family: "Cinzel", serif; }
  .sec2 .dropdown button {
    border-radius: 0;
    background-color: #fff9e4;
    color: #002064;
    border: 0; }

.sec3 {
  font-family: "Cinzel", serif; }
  .sec3 .btn-group {
    font-family: "Cinzel", serif;
    align-items: center; }
    .sec3 .btn-group label {
      background-color: #fff9e4;
      color: #002064;
      border-radius: 0px;
      border: 0.5px #002064 solid;
      margin: 5px; }
  .sec3 .form-control {
    width: 28vw; }

.submitform input {
  color: #002064;
  background-color: #fff9e4;
  font-family: "Cinzel", serif; }

.contacto {
  background: #001238;
  background: linear-gradient(0deg, #001238 13%, #001a52 53%, #002472 100%);
  /**iconos**/ }
  .contacto h4 {
    font-family: "Cinzel", serif;
    font-size: 1.8rem;
    border-bottom: 3px solid white; }
  .contacto li, .contacto button, .contacto label {
    font-family: "Cinzel", serif;
    font-size: 1.8rem;
    list-style: none; }
  .contacto h2 {
    font-family: "Cinzel", serif;
    font-size: 3rem;
    font-weight: bold;
    padding-top: .75em;
    width: auto; }
  .contacto .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0; }
  .contacto .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  .contacto .icon {
    font-size: 2.4rem; }
  .contacto button {
    font-weight: bold;
    background-color: #fff9e4;
    padding: .5em 2em;
    transition: transform .2s; }
    .contacto button:hover {
      transform: scale(1.05); }

.proyectos {
  background: #001238;
  background: linear-gradient(0deg, #001238 13%, #001a52 53%, #002472 100%); }
  .proyectos h2 {
    font-family: "Cinzel", serif;
    font-size: 3rem;
    font-weight: bold;
    padding-top: .75em;
    width: auto; }
  .proyectos .card {
    height: 100%;
    transition: transform .2s;
    border-radius: 6px;
    border: 0;
    background-color: #f7f2e5f3;
    margin: 50px;
    padding: 0;
    cursor: pointer; }
    .proyectos .card:hover {
      transform: scale(1.05); }
    .proyectos .card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px; }
    .proyectos .card .card-title {
      font-family: "Cinzel", serif;
      font-size: 1.8rem;
      margin-top: .75em; }
